/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none !important;
    list-style: none !important;
    background-color: #000;
    color: #fff;
}

/*---------------------------------------------------*/
/* HEADER */
.header {
    border-bottom: 2px solid gold;
}

.logo {
    width: 70px;
}

.logo img {
    width: 100%;
}

.nav>ul>li>a {
    color: #fff;
    font-size: 18px;
}

/*---------------------------------------------------*/
/* HERO */
.img-hero,
.textos-hero {
    width: 50%;
}

.img-hero img {
    width: 100%;
    height: 100%;
}

.textos-hero h1 {
    color: gold;
}

.textos-hero p {
    text-align: justify;
}

/*---------------------------------------------------*/
/* SERVIÇOS */
.servicos h1 {
    color: goldenrod;
    font-size: 70px;
    font-size: 500;
}

.lista-servicos li {
    font-family: 35px;
    font-weight: 600;
    margin-bottom: 5px;
}

.precos {
    color: gold;
}

/*---------------------------------------------------*/
/* TRABALHO */
.img-trabalho {
    height: 370px;
    overflow: hidden;
}

.img-trabalho img {
    width: 100%;
    object-fit: cover;
}

/*---------------------------------------------------*/
/* FEEDBACK */
.feedback-list {
    border: 2px solid darkgray;
    height: auto;
    width: 400px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-feedback {
    max-height: 300px;
    overflow-y: auto;
}

/* Customizando o trilho da barra */
.box-feedback::-webkit-scrollbar {
    width: 10px; /* Largura da barra */
  }
  
  /* Estilo do trilho */
  .box-feedback::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do trilho */
  }
  
  /* Estilo do polegar */
  .box-feedback::-webkit-scrollbar-thumb {
    background: #272626; /* Cor do polegar */
    border-radius: 5px; /* Cantos arredondados */
    cursor: grab;
  }

  .box-feedback::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
  
  /* Efeito ao passar o mouse */
  .box-feedback::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.feedback-clientes {
    font-size: 60;
    font-weight: 600;
    color: goldenrod;
}

.cliente {
    width: 100%;
}

.eliminar {
    color: red;
    cursor: pointer;
}

.autor {
    color: goldenrod;
}

.nome {
    width: 100%;
    outline: none;
    border: 1px solid gold;
}

.txt-area {
    width: 100%;
    outline: none;
    border: 1px solid gold;
}

.enviar {
    color: #000;
    background-color: gold;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-out;
}

.enviar:hover {
    background-color: goldenrod;
    color: #fff;
}

/*---------------------------------------------------*/
/* FOOTER */
.footer {
    border-top: 1px solid gold;
}

footer p {
    font-size: 10px;
    color: darkgray;
}

.direitos {
    font-size: 18px;
}

/*---------------------------------------------------*/
/* TABLET */
@media (max-width: 992px) {

    /* HERO */
    .textos-hero {
        width: 100%;
    }

    .img-hero {
        height: 30%;
    }

    .textos-hero h1 {
        font-size: 60px;
    }

    .textos-hero p {
        font-size: 20px;
    }

    /*---------------------------------------------------*/
    /* TRABALHO */
    .img-trabalho {
        height: 470px;
    }
}

/*---------------------------------------------------*/
/* MOBILE */
@media (max-width: 767px) {
    /* HEADER */
    .menu-hamburger {
        height: 50px;
        width: 50px;
        border: 1px solid #fff;
    }

    [class^=line] {
        height: 3px;
        width: 40px;
        background-color: #fff;
        margin-bottom: 10px;

        transition: .2s ease-in-out;
    }

    .line1 {
        margin-top: 5px;
    }

    .line1.active {
        transform: rotate(45deg);
        position: relative;
        top: 10px;
    }

    .line2.active {
        display: none;
    }

    .line3.active {
        transform: rotate(-45deg);
        position: relative;
        top: -2px;
    }

    .nav-mobile {
        position: absolute;
        right: 0px;
        top: 72.4px;

        height: 30%;
        width: 0%;
        transition: .5s ease-in-out;
    }

    .nav-mobile.active {
        width: 30%;
    }

    .nav-mobile>ul>li>a {
        color: #fff;
        font-size: 18px;
    }

/*---------------------------------------------------*/
    /* HERO */
    .textos-hero {
        width: 100%;
    }

    .img-hero {
        height: 30%;
    }

    .textos-hero h1 {
        font-size: 35px;
    }

    .textos-hero p {
        font-size: 16px;
    }

    /*---------------------------------------------------*/
    /* TRABALHO */
    .img-trabalho {
        height: 560px;
    }
}

/*---------------------------------------------------*/